@page "/"
<PageTitle>Home</PageTitle>
<div class="content">
<!-- Imagen de Pochoclos -->
<div class="welcome-image">
    <img src="images/pochoclos.jpg" alt="Pochoclos" class="pochoclos-img"/>
</div>

<!-- Rectángulo con Bienvenidos -->
<div class="welcome-rectangle">
    <h2></h2>
</div>

<!-- Aquí podrás -->
<div class="intro-text">
    <p>- CINES ASOCIADOS -</p>
</div>



<!-- Tutorial -->
<div class="tutorial-container">
    <div class="tutorial-step">
        <img src="images/cinemark.jpg" alt="Cinemark Hoyts" class="tutorial-image">
        <h3>CINEMARK HOYTS DOT</h3>
        <p>Florida, Buenos Aires</p>
    </div>
    <div class="tutorial-step">
        <img src="images/cineamerica.jpg" alt="Cine América" class="tutorial-image">
        <h3>SHOWCASE CINEMA</h3>
        <p>Paraná, Entre Ríos</p>
    </div>
    <div class="tutorial-step">
        <img src="images/showcase.jpg" alt="Showcase Cinema" class="tutorial-image">
        <h3>CINE AMÉRICA</h3>
        <p>Santa Fe, Santa Fe</p>
    </div>
</div>

</div>



@code {
    private void OnMouseOver()
    {
        // Método para cuando el mouse pasa sobre el cuadro
    }

    private void OnMouseLeave()
    {
        // Método para cuando el mouse sale del cuadro
    }
}