@inherits LayoutComponentBase

<div class="top-navbar">
    <nav class="navbar">
        <a href="/" class="nav-link">Inicio</a>
        <a href="/films" class="nav-link">Películas y Críticas</a>
        <a href="/estrenos" class="nav-link">Próximamente</a>
    </nav>
</div>

<main class="content">
    @Body
</main>


